<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
     <script src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
<h1>Search for bikes</h1>
  <p>Use the following parameters to find the status and address of Citi Bikes</p>
  <div class="container">
  <input type="text" class="stationName" placeholder="stationName">
  <input type="text" class="availableBikes" placeholder="availableBikes">
  <button class="search-bikes">Search</button>
  </div>
  <div class="list"></div>
  <%= data %>
</body>
</html>
